.post-container {
	margin: 50px auto;
	width: 50%;
	border: solid #d3def1;
	border-radius: 10px;
	text-align: center;
	background-color: #d3def1;
}
.title {
	font-size: 32px;
	font-weight: bold;
	margin-bottom: 50px;
}
input[type="text"] {
	width: 95%;
	height: 40px;
}
input[type="submit"] {
	width: 200px;
	font-size: 20px;
	margin-top: 50px;
	margin-bottom: 30px;
}
.text-field {
	width: 100%;
}
.name-field {
	width: 50px;
}
.comment-area {
	width: 95%;
	height: 100px;
}
.scene-area {
	width: 95%;
	height: 200px;
}
.undisplay-field {
	display: none;
}
.halfdisplay-field.active{
	display: none;
}
.rakuten-img-container{
	position: relative;
	.rakuten-img{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}
.rakuten-field{
	text-align: center;
}