// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.user-container {
	width: 50%;
  	margin: 10px auto;
}
.profile-container {
	width: 50%;
	margin: 10px auto;
}
.user-icon {
	display: flex;
	align-items: center;
}
.user-image {
	width: 50px;
	height:50px;
	border-radius: 100px;
	overflow: hidden;
}
.following-container {
	width: 50%;
	margin: 10px auto;
}
.follower-container {
	width: 50%;
	margin: 10px auto;
}