// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.user-container {
	width: 50%;
  	margin: 10px auto;
}
.profile-container {
	width: 50%;
  	margin: 10px auto;
}
.following-container {
	width: 50%;
	margin: 10px auto;
}
.follower-container {
	width: 50%;
	margin: 10px auto;
}